{% if posts %}
<div class="relative">
    <div class="swiper blog-carousel" style="padding-inline: 0.625rem;" aria-label="مطالب وبلاگی مرتبط">
        <div class="swiper-wrapper items-stretch" style="padding-bottom: 0 !important;">
            {% for post in posts %}
            <div class="swiper-slide py-2" style="padding-inline: 0.375rem;">
                {% include 'blog/partials/post_card.html' %}
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next bg-white rounded-full dark:bg-zinc-800 border border-gray-200 !size-12 after:!text-xl px-3 after:text-primary" aria-label="مطلب بعدی"></div>
        <div class="swiper-button-prev bg-white rounded-full dark:bg-zinc-800 border border-gray-200 !size-12 after:!text-xl px-3 after:text-primary" aria-label="مطلب قبلی"></div>
    </div>
</div>
{% endif %}
